<!-- Template to use for the Fibonacci page -->
{% load static %}
<style>
body {
	background-image: url({% static 'images/background.jpg' %});
}
</style>
<body>
<h1 style="color: #A1CCEB">
	<link rel="stylesheet" href="{% static 'css/calculation.css' %}">
	Fibonacci Sequence (with C++)
</h1>

<p style="color: white"> 
	The Fibonacci sequence is nothing special in the realm of mathematics. The first numbers in the sequence are:
</p>
<center>
<img src="{% static 'images/InitialFib.png' %}" alt="Initial Fib">
</center>
<p style="color: white">
	... And the sequence is as follows:
</p>
<center>
<img src="{% static 'images/FibSequence.png' %}" alt="Fib Sequence">
</center>
<p style="color: white">
Here is the output of the first <b>100</b> Fibonacci numbers processed in a C++ file and passed to Django:
</p>

<p style="color: #CCD6DD"> <i>{{ result.calculateSequence }} </i></p>

<p style="color: white"> 
	... Not a complex calculation, but it is impressive how C++ handles such large values so quickly.
</p>
</body>